.voltar {
    align-self: flex-start;
    position: fixed;
    border: 2px solid var(--cor4);
    background-color: var(--cor3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    color: var(--corTexto);
    padding: .5rem;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.voltar>i{
    font-size: 20px;
    margin-right: 5px;
}

.voltar:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}

.lista-musicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.musica {
    flex-basis: auto;   
    margin: 10px;
    width: 230px;
    height: 280px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    transition: all 0.3s ease;
    color: var(--corTexto);
    font-size: 12px;
    cursor: pointer;
}

.musica-img-btn {
    position: relative;
}

.musica-img-btn>i {
    visibility: hidden;
    transition: all .2s;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 72%;
    font-size: 62px;
}

.musica:hover > .musica-img-btn>i {
    transition: all .2s;
    visibility: visible;
    transform: translateY(-28%);
    opacity: 1;
  }
  
.musica-img-btn>img {
    width: 100%;
}

.musica span {
    margin-left: 3px;
}

.musica #musica-txt {
    margin-top: 3px;
    font-size: 18px;
}

.musica:hover {
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.111);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}